<!DOCTYPE html>
<html>
<head>
	<title>Bienvenido a su Perfil</title>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<link rel="icon" type="image/png" href="img/favicon.png" />
</head>
<body>
	<nav>
		<div class="left">
			<a href="principal.html">Inicio</a>
			<a href="#">Datos de usuario</a>
			<a href="#">Crear evento</a>
			<a href="#">Historial de eventos</a>
			<a class="logged" href="index.html">Cerrar sesión</a>
		</div>
		<div class="right">
			<form action="#" method="post">
				<input type="text" placeholder="asdf" />
				<input type="submit" style="display: none;" />
			</form>
			<a href="#">Buscar</a>
		</div>
	</nav>
	<div id="body">
		<header>
			<h1>Hola Lorem Ipsum</h1>
		</header>
		<div id="content">
			<div class="top">
				<div id="user-data">
					<h3>Mis datos</h3>
					<table class="clear">
						<tr>
							<td colspan="2" style="text-align: right;">
								<input type="button" value="Editar contraseña" />
								<input type="button" value="Editar información" />
							</td>
						</tr>
						<tr>
							<td><strong>Nombre:</strong></td>
							<td><span>asdfasdf</span></td>
						</tr>
						<tr>
							<td><strong>Correo:</strong></td>
							<td><span>asdfasdf</span></td>
						</tr>
						<tr>
							<td><strong>Eventos creados:</strong></td>
							<td><span>112341234</span></td>
						</tr>
						<tr>
							<td><strong>Próximos eventos:</strong></td>
							<td><span>2341</span></td>
						</tr>
					</table>
				</div>
				<div id="new-event">
					<h3>Crear evento</h3>
					<form action="#" enctype="multipart/form-data">
						<table class="clear">
							<tr>
								<td>
									<p><strong>Nombre del evento:</strong></p>
									<input type="text" />
								</td>
							</tr>
							<tr>
								<td>
									<p><strong>Rubro:</strong></p>
									<select>
										<option selected="selected">Fiesta</option>
										<option>Paseo</option>
										<option>Gira de estudio</option>
										<option>Otro</option>
									</select>
								</td>
							</tr>
							<tr>
								<td>
									<p><strong>Ciudad:</strong></p>
									<select>
										<option selected="selected">Santiago</option>
										<option>Concepción </option>
										<option>Valparaíso</option>
										<option>La Serena</option>
										<option>Temuco</option>
										<option>Rancagua</option>
										<option>Iquique</option>
										<option>Talca</option>
										<option>Arica</option>
										<option>Puerto Montt</option>
										<option>Chillán</option>
										<option>Los Ángeles</option>
										<option>Calama</option>
										<option>Copiapó</option>
										<option>Osorno</option>
										<option>Valdivia</option>
										<option>Punta Arenas</option>
										<option>San Antonio</option>
										<option>Curicó</option>
									</select>
								</td>
							</tr>
							<tr>
								<td>
									<p><strong>Dirección:</strong></p>
									<input type="text" />
								</td>
							</tr>
							<tr>
								<td>
									<p><strong>Fecha:</strong></p>
									<select class="date day">
										<option selected="selected">1</option>
										<option>2</option>
										<option>3</option>
										<option>4</option>
										<option>5</option>
										<option>6</option>
										<option>7</option>
										<option>8</option>
										<option>9</option>
										<option>10</option>
										<option>11</option>
										<option>12</option>
										<option>13</option>
										<option>14</option>
										<option>15</option>
										<option>16</option>
										<option>17</option>
										<option>18</option>
										<option>19</option>
										<option>20</option>
										<option>21</option>
										<option>22</option>
										<option>23</option>
										<option>24</option>
										<option>25</option>
										<option>26</option>
										<option>27</option>
										<option>28</option>
										<option>29</option>
										<option>30</option>
										<option>31</option>
									</select>
									<select class="date month">
										<option selected="selected">Enero</option>
										<option>Febrero</option>
										<option>Marzo</option>
										<option>Abril</option>
										<option>Mayo</option>
										<option>Junio</option>
										<option>Julio</option>
										<option>Agosto</option>
										<option>Septiembre</option>
										<option>Octubre</option>
										<option>Noviembre</option>
										<option>Diciembre</option>
									</select>
									<select class="date year">
										<option selected="selected">2013</option>
										<option>2012</option>
										<option>2011</option>
										<option>2010</option>
										<option>2009</option>
										<option>2008</option>
										<option>2007</option>
										<option>2006</option>
										<option>2005</option>
										<option>2004</option>
										<option>2003</option>
										<option>2002</option>
										<option>2001</option>
										<option>2000</option>
									</select>
								</td>
							</tr>
							<tr>
								<td>
									<p><strong>Imagen del evento:</strong></p>
									<input type="file"/>
								</td>
							</tr>
							<tr>
								<td style="text-align: right;"><input type="submit" value="Guardar Evento"/></td>
							</tr>
						</table>
					</form>
				</div>
			</div>
			<div id="history">
				<h2>Historial de eventos</h2>
				<div id="user-history-events">
					<div class="thead">
						<table>
							<thead>
								<tr>
									<th class="numero"></th>
									<th class="fecha">Fecha</th>
									<th class="nombre">Nombre</th>
								</tr>
							</thead>
						</table>
					</div>
					<div class="tbody">
						<table>
							<tbody>
								<tr>
									<td class="numero">1</td>
									<td class="fecha">22/10/2013</td>
									<td class="nombre">Fiesta UV</td>
								</tr>
								<tr>
									<td class="numero">2</td>
									<td class="fecha">22/10/2013</td>
									<td class="nombre">Fiesta UV</td>
								</tr>
								<tr>
									<td class="numero">3</td>
									<td class="fecha">22/10/2013</td>
									<td class="nombre">Fiesta UV</td>
								</tr>
								<tr>
									<td class="numero">4</td>
									<td class="fecha">22/10/2013</td>
									<td class="nombre">Fiesta UV</td>
								</tr>
								<tr>
									<td class="numero">5</td>
									<td class="fecha">22/10/2013</td>
									<td class="nombre">Fiesta UV</td>
								</tr>
								<tr>
									<td class="numero">6</td>
									<td class="fecha">22/10/2013</td>
									<td class="nombre">Fiesta UV</td>
								</tr>
								<tr>
									<td class="numero">7</td>
									<td class="fecha">22/10/2013</td>
									<td class="nombre">Fiesta UV</td>
								</tr>
								<tr>
									<td class="numero">8</td>
									<td class="fecha">22/10/2013</td>
									<td class="nombre">Fiesta UV</td>
								</tr>
								<tr>
									<td class="numero">9</td>
									<td class="fecha">22/10/2013</td>
									<td class="nombre">Fiesta UV</td>
								</tr>
								<tr>
									<td class="numero">10</td>
									<td class="fecha">22/10/2013</td>
									<td class="nombre">Fiesta UV</td>
								</tr>
								<tr>
									<td class="numero">11</td>
									<td class="fecha">22/10/2013</td>
									<td class="nombre">Fiesta UV</td>
								</tr>
								<tr>
									<td class="numero">12</td>
									<td class="fecha">22/10/2013</td>
									<td class="nombre">Fiesta UV</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
		<footer>
			<p> Tenemos todos los derechos reservados y Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
		</footer>
	</div>
</body>
</html>