/* Estilos generales */
.no-slider { margin-top: 8em; }
footer { padding-top: 8em; }

/* Estilo para alertas */
.top { position: fixed; top: 0px; width: 100%; z-index: 99; }

/* Estilos de vista index */
.carousel-inner h2, .carousel-inner p { text-shadow: black 0.0em 0.0em 0.2em; }
#history-events .table-col-1 { width: 8em; }

/* Estilos de Single de evento*/
#map-canvas { height: 350px; }